#grow-wrapper{
    height: 350vh;
    width: calc(100vw - 240px);
    margin-bottom: 0;
    h2{
        position: sticky;
        top: 30px;
        padding-bottom: 100vh;
    }
}

#tree{
    // position: sticky;
    // position: -webkit-sticky;
    #branches path{
        stroke-dashoffset: var(--scroll);
        stroke-dasharray: 1000px 600px;
    }
}

#svg-wrapper{
    margin-left: -120px;
    width: 100vw;
    height: calc(1220px * 100vw / 1594px);
    top: 30px;
    position: -webkit-sticky;
    margin-top: -150vh;
    position: sticky;
}
// .fix{
//     position: sticky !important;
//     position: -webkit-sticky;
// }