#socials-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: max-content;
    height: max-content;
    z-index: 10;
}

.social-icon {
    width: 62px;
    height: 62px;
    & circle {
        fill: var(--background);
        stroke: var(--second);
    }
    & path {
        fill: var(--second);
    }
    &:hover {
        cursor: pointer;
        & circle {
            fill: var(--second);
        }
        & path {
            fill: var(--background);
        }
    }
}

.socials-contact-page{
    flex-direction: row !important;
    right: 0;
    // background-color: aqua;
    // top: 0;
    // bottom: 0 !important;
    margin-left: auto;
    margin-right: auto;
    .social-icon{
        width: 75px!important;
        height: 75px!important
    }
}