@import "../Home.scss";

#hello-wrapper{
    background: linear-gradient(to bottom, transparent, var(--background));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 128px;
<<<<<<< HEAD
    position: relative;
    margin: 0;
    width: 100vw;
}

#canvas-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
=======
}
>>>>>>> 44ce0450cacafcc2fb1e72f1312ce656ea40bf60
