:root{
    --darkBlue: #061340;
    --neonBlue: #00FFFF;
    --neonPink: #FF00E5;
    --neonGreen: #00FF19;
    --blue: #0038FF; 
    --violet: #3C0398;
    --background: var(--darkBlue);
    --second: white;
}