@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "./colors.scss";

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease-out;

}

body * {
  transition: background-color 0.5s ease-out;
}

path{
  transition: all 0.5s ease-out;
}

circle{
  transition: all 0.5s ease-out;
}

a {
  color: inherit;
  text-decoration: inherit;
}
