@import url("https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100&display=swap");
@import "./colors.scss";

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease-out;
  color: var(--second);
}

body * {
  transition: background-color 0.5s ease-out;
}

path{
  transition: all 0.5s ease-out;
}

circle{
  transition: all 0.5s ease-out;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1, h2, h3{
  font-family: "Anton", sans-serif;
}

h1 {
  font-size: 128px;
}

h2 {
  font-size: 64px;
}

h3{
  font-size: 30px;
}

p{
  font-family: "Antonio", sans-serif;
}